.wrapper h1 {
  text-align: center;
  font-size: 30px;
  font-family: Audiowide;
}
.img-area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;  
}
.single-img{
  padding:0 10px 20px;
  
}


.main h1{
  font-size:30px;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main p{
  font-size: 15px;
  padding-top: 5px;
  color: rgb(106, 106, 106);
  text-align:justify;
}


.grids {
  display: grid;
  gap: 50px;
  grid-template-columns: 2fr 1fr;
  margin:6%;
}


.side {
  border-radius: 10px
}

.main{
  padding:10%;
background-image: url(../public/images/bg.png);
background-position: right top;
}



:root{
  --lite:#c0a8da;
  --primary:#55035d;
  }
  .bar{
  display:block;
  height: 5px;
  width: 100px;
  background: var(--primary);
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px auto 20px 0;
  }
  
  .bar:before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: #fff;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: MOVE-BG;
  animation-name: MOVE-BG;
  }
  
  @keyframes MOVE-BG{
  0% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  100% {
  -webkit-transform: translateX(85px);
  transform: translateX(85px);
  }
  }

  
  .title_header{
  width:60%;
  text-align:Center;
  margin:auto;
  color:var(--white);
  }
  
  .title_header h1{
  font-size:2em;
  }
  
  .title_header h4{
  font-weight:200;
  }
  
  .title_header .bar{
  margin:auto;
  }
  
  @media (max-width:820px){
  .title_header{
  width:90%;
  }
  
  .title_header h1{
  font-size:2em;
  }
  .section1 {
    padding: 6% !important;   }
    #content{
      margin: 0px !important;  
    }
  
    
  }
  
  /*SECTION1*/
  .section1{
  width:100%;
  padding:4rem 6rem;
  background-color:#fff;
  }
  
  .section1 section{
  display:flex;
  align-items:center;
  justify-content:Center;
  }
  
  .section1 .card{
  position:relative;
  width:100%;
  border-radius:10px;
  margin:10px;
  background-image:url("../public/images/bg.png");
  background-repeat:no-repeat;
  background-position:top left;
  text-align:center;
  box-shadow:0px 1px 2px -1px rgba(1,1,1,0.5);
  transition:0.5s;
  }
  
  .section1 .card:hover{
  box-shadow:0px 4px 14px -4px rgba(1,1,1,0.5);
  }
 
  
  .section1 .card img{
  width:100px;
  display:block;
  margin:auto;
  }
  
  .section1 .card p{
  color:rgba(142, 139, 139, 0.7);
  line-height:1.8em;
  }
  
 
  @media (max-width:820px){
  .section1 section{
  width:100%;
  padding:2rem 1rem;
  display:block;
  }
  .section1 .card{
  padding:1rem;
  margin:20px 0;
  }
  .main{
    background-image: url("../public/images/bg-global.avif");
  }
  }
  
  
@media(max-width: 600px){
  .grids {
    grid-template-columns: 1fr;
    margin:3%;
  }

  @media  (max-width:500px){
    #content .item{
    min-width:100px !important;
  }};
    
  
}







/** slider */
.slider {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
.slider:hover .slider__radiobox-label--prev,
.slider:hover .slider__radiobox-label--next {
  opacity: 1;
}
.slider:hover .slider__radiobox-label--prev {
  left: 6%;
}
.slider:hover .slider__radiobox-label--next {
  right: 6%;
}
.slider--cover {
  width: 100%;
  height: 100%;
}
.slider--proportional {
  width: 100%;
  height: auto;
}

.slider__inner {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background: #ddd;
}
.slider--cover .slider__inner {
  width: 100%;
  height: 100%;
}
.slider--fixed .slider__inner {
  width: 100%;
  height: 100%;
}
.slider--proportional .slider__inner {
  width: 100%;
  height: 0;
}
.slider--proportional-4x3 .slider__inner {
  padding-top: 75%;
}
.slider--proportional-5x4 .slider__inner {
  padding-top: 80%;
}
.slider--proportional-16x9 .slider__inner {
  padding-top: 56.25%;
}

.slider__slides {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 400%;
  height: 100%;
  overflow-y: hidden;
  transition: margin-left 0.4s;
}

.slider__slide {
  display: block;
  float: left;
  position: relative;
  width: 25%;
  height: 100%;
}
.slider__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__radiobox-label {
  display: block;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}
.slider__radiobox-label:focus {
  background-color: red;
}
.slider__radiobox-label--item {
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px;
  border: 6px solid transparent;
  border-radius: 50%;
  background: black;
  background-clip: padding-box;
  opacity: 0.3;
  transition: opacity 0.2s;
}
.slider__radiobox-label--item:hover {
  opacity: 0.5;
}
.slider__radiobox-label--item-1 {
  margin-left: -36px;
}
.slider__radiobox-label--item-2 {
  margin-left: -12px;
}
.slider__radiobox-label--item-3 {
  margin-left: 12px;
}
.slider__radiobox-label--item-4 {
  margin-left: 36px;
}
.slider__radiobox-label--prev, .slider__radiobox-label--next {
  display: none;
  top: 50%;
  transform: translateY(-50%);
  height: 0;
  border: 12px solid black;
  border-top-color: transparent;
  border-bottom-color: transparent;
  opacity: 0;
  transition: left 0.2s, right 0.2s, opacity 0.2s;
}
.slider__radiobox-label--prev {
  left: -6%;
  border-left: 0;
  border-right-width: 24px;
}
.slider__radiobox-label--next {
  right: -6%;
  border-right: 0;
  border-left-width: 24px;
}

.slider__radiobox {
  position: absolute;
  z-index: 2;
  opacity: 0;
}
.slider__radiobox--1:checked ~ .slider__slides {
  margin-left: 0;
}
.slider__radiobox--2:checked ~ .slider__slides {
  margin-left: -100%;
}
.slider__radiobox--3:checked ~ .slider__slides {
  margin-left: -200%;
}
.slider__radiobox--4:checked ~ .slider__slides {
  margin-left: -300%;
}
.slider__radiobox--1:checked + .slider__radiobox-label--item-1, .slider__radiobox--2:checked + .slider__radiobox-label--item-2, .slider__radiobox--3:checked + .slider__radiobox-label--item-3, .slider__radiobox--4:checked + .slider__radiobox-label--item-4 {
  opacity: 1;
}
.slider__radiobox--1:checked ~ .slider__radiobox-label--prev-4, .slider__radiobox--2:checked ~ .slider__radiobox-label--prev-1, .slider__radiobox--3:checked ~ .slider__radiobox-label--prev-2, .slider__radiobox--4:checked ~ .slider__radiobox-label--prev-3, .slider__radiobox--1:checked ~ .slider__radiobox-label--next-2, .slider__radiobox--2:checked ~ .slider__radiobox-label--next-3, .slider__radiobox--3:checked ~ .slider__radiobox-label--next-4, .slider__radiobox--4:checked ~ .slider__radiobox-label--next-1 {
  display: block;
}
.slider__radiobox--1:focus + .slider__radiobox-label--item-1, .slider__radiobox--2:focus + .slider__radiobox-label--item-2, .slider__radiobox--3:focus + .slider__radiobox-label--item-3, .slider__radiobox--4:focus + .slider__radiobox-label--item-4 {
  outline: 5px auto;
  outline: 5px auto -webkit-focus-ring-color;
}



#content {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 65px;
}

.foo {visibility: hidden; padding-top: 0; padding-bottom: 0;}

#content .item{
  
  padding: 10px;
  box-sizing: border-box;
  flex: 1 0 ;
  max-width: 300px;
  min-width:200px;
  margin: 40px;
}


.containr h1{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  padding-top: 3%;
}
.containr{
  background-color: #d8f1c7;padding-top:3%; padding-bottom: 5%;
}

.containr p{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100 !important;
  text-align: center;
  
}

.containr img{
  width: 100px;
  margin: auto;
  display: block;
  align-items: center !important;
  transform: scale(0.65, 0.65);
}

.road-map-main {
  margin: 50px 0 51px;
}
.road-map-main .road-map-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 175px;
}
@media (max-width: 991px) {
  .road-map-main .road-map-wrapper {
    margin-bottom: 25px;
    height: auto;
    display: block;
  }
}
.road-map-main .road-map-wrapper::before {
  content: "";
  width: 100%;
  clear: both;
  display: block;
}
.road-map-main .road-map-wrapper::after {
  content: "";
  width: 100%;
  clear: both;
  display: block;
}
.road-map-main .road-map-wrapper .road-map-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 25px solid transparent;
  border-top-color: #7a7bd7;
  border-right-color: #7a7bd7;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(45deg);
}
@media (max-width: 992px) {
  .road-map-main .road-map-wrapper .road-map-circle {
    position: unset;
    border: 25px solid #7a7bd7;
  }
}
.road-map-main .road-map-wrapper .road-map-circle .road-map-circle-text {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #eb0d0de0;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-transform: capitalize;
  color: #fff;
  box-shadow: 0px 0px 10px 5px #00000021;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(-45deg);
}
.road-map-main .road-map-wrapper .road-map-card {
  width: 35%;
  background: #7a7bd7;
  padding: 20px 20px;
  z-index: 1;
  position: absolute;
  right: 0;
  border-radius: 5px;
}
.road-map-main .road-map-wrapper .road-map-card::before {
  content: "";
  width: 25%;
  height: 20px;
  background: #7a7bd7;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -23%;
  z-index: -1;
}
@media (max-width: 991px) {
  .road-map-main .road-map-wrapper .road-map-card {
    width: 100%;
    margin-top: 30px;
    position: unset;
  }
  .road-map-main .road-map-wrapper .road-map-card::before {
    content: "";
    width: 20px;
    height: 30%;
    top: 50%;
    transform: translateX(-50%);
    left: 50%;
  }
}
@media (max-width: 425px) {
  .road-map-main .road-map-wrapper .road-map-card {
    top: 45%;
  }
}
.road-map-main .road-map-wrapper .road-map-card .card-head {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 15px;
  color: #fff;
}
.road-map-main .road-map-wrapper .road-map-card .card-text {
  color: #fff;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 1199px) {
  .road-map-main .road-map-wrapper .road-map-card .card-text {
    -webkit-line-clamp: 4;
  }
}
.road-map-main .road-map-wrapper:nth-of-type(even) .road-map-circle {
  border-bottom-color: #7a7bd7;
  border-left-color: #7a7bd7;
  border-top-color: transparent;
  border-right-color: transparent;
}
@media (max-width: 991px) {
  .road-map-main .road-map-wrapper:nth-of-type(even) .road-map-circle {
    border-color: #7a7bd7;
  }
}
.road-map-main .road-map-wrapper:nth-of-type(even) .road-map-card {
  left: 0;
}
.road-map-main .road-map-wrapper:nth-of-type(even) .road-map-card::before {
  right: -23%;
  left: unset;
}
@media (max-width: 991px) {
  .road-map-main .road-map-wrapper:nth-of-type(even) .road-map-card::before {
    content: "";
    width: 20px;
    height: 30%;
    top: 50%;
    transform: translateX(-50%);
    left: 50%;
  }
}
@media (max-width: 425px) {
  .road-map-main .road-map-wrapper:nth-of-type(even) .road-map-card::before {
    top: 45%;
  }
}