.animated-bg {
    animation: changeColor 5s infinite; /* Adjust the duration as needed */
  }
  
  @keyframes changeColor {
    0% {
      background-color: #ff6a00; /* Start color */
    }
    25% {
      background-color: #ff0000; /* Change color at 25% of the animation duration */
    }
    50% {
      background-color: #ff8400; /* Change color at 50% of the animation duration */
    }
    75% {
      background-color: #ffe600; /* Change color at 75% of the animation duration */
    }
    100% {
      background-color: #ff0000; /* Back to the start color */
    }
  }
  